@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #f5f5f5;
    display: grid;
    place-items: center;
    height: 100vh;
}
.container{
    width: 400px;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.container .title{
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #111;
}
.container .content{
    height: 60vh;
}

.message-right{
    background-color: #ccc;
    color:#111;
    margin-left: auto;
}
.message-left{
    background-color: #111;
    color: #fff;
    margin-right: auto;
}
.message{
    margin: 10px 0;
    padding: 3px 7px;
    border-radius: 2px;
    align-items: center;
    font-size: .8rem;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.input{
    display: flex;
}
.input input{
    height: 45px;
    width: 80%;
    margin: 10px 0;
    padding: 0 15px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.input input:focus{
    border-color: #111;
}
.input button{
    height: 45px;
    width: 19%;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    margin: 10px 0 5px 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}



/* radio group */
.radio-group{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.radio-group label{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 1rem;
    margin-right: 10px;
    cursor: pointer;
    transition:all 0.3s ease;
}
.radio-group label:hover{
    background: #ccc;
    color: #111;

}

/* popup form */
.pop-up-form{
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity:0;
    transition: all 0.3s ease;
}
.pop-up-form .container{
    width: 500px;
    background: #fff;
    border-radius: 5px;
    padding: 25px 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
}
.active{
    visibility:visible;
    opacity: 1;
    pointer-events: auto;
}